
*
{
  margin: 0;
  padding:0;
  
}
#banner
{
  background:linear-gradient(rgba(250, 248, 248, 0.3),#72bdc2), url('img/bakery-bread-photography-wallpaper-preview.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */

}
.logo
{
  position: absolute;
  height: 90px;
  width: 90px;
  top:3%;
  left: 3%;
  border-radius: 100%;

}

.banner-text
{
  text-align: center;
  padding-top:180px;
  color: rgb(16, 2, 80);
  
 
}
.banner-text h1
{
  font-size: 100px;
 font-family:Georgia, 'Times New Roman';
 font-family: 'Kaushan Script', cursive;
}
.banner-text p
{
  font-size: 20px; 
  font-style: oblique;
  font-family: system-ui,  'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif;
}
#b1
{
  height: 30px;
  width: 90px;

}
.banner-btn{
  margin: 70px auto 0;

 }

 .banner-btn a{
  width: 150px ;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(11, 11, 11);
  border-radius: 0%;
  z-index: 1;
  position: relative;
  transition: color 0.5s;
  
 }
 .banner-btn a span
 {
  width: 0%;
  height: 100%;
  position: absolute;
top: 0;
left: 0;
/* background:linear-gradient(rgba(7, 95, 19, 0.3),#ece908); */
  z-index: -1;
  transition: 0.2s;
 }
 .banner-btn a:hover span
 {
  
  background:linear-gradient(rgba(7, 95, 19, 0.3),#ece908);

  transition: 0.1s;
  width: 100%;
  

 }
 .banner-btn a:hover{
  transition: 0.1s;
  color:wheat;
  
  box-shadow: 5px 5px 5px  2px  rgb(25, 25, 26), inset 5px 5px 5px 3px   rgb(22, 22, 22) ;

  

 }
 #snav
 {
  width: 10vw;
  height: 100vh;
  position: fixed;
  right: -250;
  top: 0;
  background: #009688 ;
  z-index: 2;
  transition: 0.5s;
  box-shadow:inset 5px 5px 5px  -2px  rgb(25, 25, 26), 5px 5px 5px 3px   rgb(22, 22, 22) ;

 }
 #rnav ul li{
  list-style: none;
  margin: 50px 20px;


 }
 #rnav ul li a{
 text-decoration: none;
 color: #fff;

 }
 #manubtn   
 {
  width: 20px;
  height: 10px;

  margin: 6px 12px;
  text-align: center;
  position: fixed;

  top: 5px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
 
 }
 
 #manubtn img 
 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 15px;
  z-index: 4;
 
  
 }
 @media screen and (max-width:770px) {
  .banner-text h1
{
  font-size: 44px;
 /* font-family:Georgia, 'Times New Roman'; */
 
}
.banner-btn a{
  display:block;
  margin: 20px auto;
}
  
 }

 /* feature */
  #Feature
  {
    width: 100%;
    padding: 100px 0 20px;

  }
  .title-text
  {
    text-align: center;
    padding-bottom: 70px;

  }
  .title-text p
  {
    text-align: center;
    padding-bottom: 70px;
    margin: auto;
    font-size: 20px;
    color: #166c6c;
    font-weight: bold;
  z-index: 1;
  display: inline-block;
     
   margin-top: 2%;
 position: relative;
  }
  .title-text p::after{

    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgba(1, 68, 4, 0.482) , rgb(92, 245, 3));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
  }
  
.title-text h1
  {
    text-align: center;
    padding-bottom: 70px;
    margin: auto;
   font-size: 50px;
  }
  .Features-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;


  }
  .Features{
flex-basis: 50%;


  }
  .Features-img{
    flex-basis: 50%;
    margin:auto;

  }
  .Features-img img{
    width: 70%;
    border-radius: 10px;

  }
  .Features h1{
    text-align: left;
    margin-bottom: 10px;
    
    font-weight: 100;
    color: #009688;
  }
  .Features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

  }
  .Features-icon .fa {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
  }
  .Features-text p{
    padding: 0 20px;
    text-align: initial;
    
  }
  @media screen and (max-width:770px){
    .title-text h1{
      font-size: 35px;
      
    }
  
  .Features{
    flex-basis: 100%;
  }
  .Features-img {
    flex-basis: 100%;

  }
  .Features-img img{
    width: 100%;
  }
}

/* service */
  #Service{
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(gray, skyblue);
  }
.Service-box{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;

}
.Single-Service{
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.Single-Service img{
  width: 100%;
  border-radius: 10px;

}
#img1{
  height: 99%;
}
#img2{
  height: 99%;
}
#img3{
  height: 99%;
}
#img4{
  height: 99%;
}
.Overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(#1adb094d, #ffffff);
  opacity: 0;
  transition: 1s;
}
.Single-Service:hover .Overlay{
opacity: 1;
}
#paragraph{
  color: rgb(7, 7, 7);
}
/* #h{
  background-color: rgb(10, 10, 10);
} */

.heading
{
  color: rgb(4, 250, 189);

  
}
.Service-desc{
  width: 80%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  opacity: 0;
  transition: 1s;
  transform: translateX(-50%);
}
hr{
  background: rgb(75, 74, 74);
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;

}
.Service-desc p{
  font-size: 14px;
}
.Single-Service:hover .Service-desc{
bottom: 50%;
opacity: 1;
}
@media screen and (max-width:770px){
  .Single-Service{
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .Service-desc p{
    font-size: 12px;
  }
  hr{
    margin: 5px auto;
  }
  .Single-Service:hover .Service-desc{
    bottom: 25% !important;
    
    }
}

/* Testimonial */

.Testimonial{
  width: 100%;
  padding: 70% 0;
}
.Testimonial-row{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  flex-wrap: wrap;
}
.Testimonial-col{
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow:inset 5px 5px 5px  -2px  rgb(25, 25, 26), 5px 5px 5px 3px   rgb(22, 22, 22) ;
  cursor: pointer;
  transition: transform 0.5s;
}
.Testimonial-col p{
  font-size: 14px;
}
.User{
  display: flex;
  align-items: center;
  margin: 20px o;
}
.User img{
  width: 40px;
  margin-right: 20px;
  border-radius: 3px;
}
.User-info .fa{
  margin-left: 10px;
  color: #27c0ff;
  font-size: 20px;

}
.User-info small{
  color: #009688;
  
}
.Testimonial-col:hover{
  transform: translateY(-7px);
  background-color:linear-gradient(rgba( 0,0,0,0.3)#009688);
  background: #07e6cf;
}
@media screen and (max-width:770px){
  .Testimonial-col{
    flex-basis: 100%;
  }
}

/* Footer */

#Footer{
  padding: 100px 0 20px;
  background: #e0e0e0;
  position: relative;

}
.Footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Footer-left,.Footer-right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;

}
.Footer-right{
  text-align: right;
}
.Footer-row h1{
  margin: 10px 0;

}
.Footer-row p{
  line-height: 35px;  
}
.Footer-left .fa,.Footer-right .fa{
  font-size: 20px;
  color: #009688;
  margin: 10px;
}
.Footer-img{
  width: 700px;
  opacity: 0.5;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%,-50%);
}
.Social-links{
  text-align: center;
}
.Social-links .fa{
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #009688;
  color: blueviolet;
  margin: 40px 5px 0;
  color: #009688;
  cursor: pointer;
  transition: .5s;
}
.Social-links .fa :hover{
  background: #009688;
  color: #fff;
  transform: translateY(-7px);
}
.Social-links p{
  font-size: 12px;
  margin-top: 20px;
}
@media screen and (max-width:770px){
  .Footer-left .fa,.Footer-right{
    flex-basis: 100%;
    font-size: 14px;
  }
  .Footer-img{
    top: 50%;
  }
}